

<div class="container">

  <%=render "pages/searchbar" %>
  <div class="course-index-cover-section">
    <div class="course-index-cover-word">
      <h1> Welcome to SuperHeroAcademy! </h1>
      <h3> You can check your current progress <%= link_to "here", bookings_path %> and keep going on your way to become a hero!</h3>
    </div>
    <div class= "course-index-cover-photo-wrapping">
      <%= image_tag "superbaby.png", class: "course-index-cover-photo" %>
    </div>
  </div>


  <div class="row">
    <% @courses.each do |course| %>
      <div class="col-md-3 col-sm-8">
        <div class="card mb-4 shadow-sm p-3 course-index-fixed-card">
          <div class="d-flex justify-content-center">
            <% if course.photo.key.present? %>
              <%= cl_image_tag course.photo.key, class: "course-index-card-img", height: 150, width: 150, crop: :fill %>
            <% else %>
              <div class="d-flex align-items-center" style="height: 200px; width: auto">
                <h3>No Image here 😑</h3>
              </div>
            <% end %>
          </div>
          <div class="course-index-card-body">
            <h5 class="course-index-card-title"> <%= course.title %> </h5>
            <p class="course-index-card-teacher">Amy Huang</p>
            <p class="course-index-card-text">¥3500</p>
            <div class="course-index-card-bottom-wrapping">
              <div class="btn-group course-index-card-bottom">
                <div>
                  <%= link_to 'View', course_path(course), class: 'btn btn-sm btn-outline-secondary course-index-btn' %>
                </div>
                <div class="course-index-heart-wrapping">
                  <i class="far fa-heart course-index-heart"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
