<div class="row justify-content-center">
  <div class="col-6 mt-5 bg-light">
    <h1 class="my-4">Create a new course</h1>
    <%= simple_form_for @course do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :syllabus %>
      <%= f.input :price %>
      <%= f.input :level, collection: Course.levels %>
      <%= f.input :duration %>
      <%= f.input :location %>
      <%= f.input :start_time %>
      <%= f.input :online %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Make this course", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Back to courses", courses_path, class: "btn btn-secondary my-3" %>
  </div>
</div>
