
<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="course-cover-page">
  <div class="course-show-search-bar-wrapping">
    <div class="my-3">
      <div class="container course-show-search-bar-container">
        <div class="search-wrapper me-0">
          <div class="search-box">
            <input type="text" class="search-input form-control" placeholder="Search your next superhero course...">
            <i class="fas fa-search search-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="course-cover">
    <div class="course-main-info">
      <h1><%=@course.title%></h1>
      <p><%=@course.description%></p>
    </div>
    <div class="course-price-tag">
        <%= image_tag @course.photo, class: "course-photo"%>
        <div class="course-price">
          <h2>Price: <%=@course.price%></h2>
        </div>
        <%= button_to "I want to buy this course!!", bookings_path(course_id: @course.id), class: "btn price-btn" %>
    </div>
  </div>
  <div class="course-detail">
    <%= @course.syllabus %>
  </div>
</div>
