<!DOCTYPE html>
<html>
  <head>
    <title>SuperHeroAcademy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <%= render "pages/navbar"%>
      <div class="content container my-3">
        <%= yield %>
      </div>
      <%= render "pages/footer"%>
    </div>
  </body>
</html>
